* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.counter {
    width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 250px;
    background: rgb(7, 109, 226);
    padding: 50px;
    border-radius: 10px;
}

h1 {
    font-family: sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
}
.count {
    font-size: 50px;
    color: #fff;
}


button {
    width: 85px;
    padding: 9px 0;
    font-size: 16px;
    text-transform: capitalize;
    border: 0;
    outline: none;
}

.substract {
    background: rgb(255, 94, 0);
}

.reset {
    background: #fff;
}

.add {
    background: rgb(28, 218, 43);
}